@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.title = "Drawlots";
}

<section id="banner" class="at-main-slider">
    <div class="flexslider">
        <ul class="slides">
            <li data-thumb="images/slider/1.jpg">
                <img alt="logo" src="@Url.Content("~/Content/img/slider/1.jpg")" class="img-responsive center-block">
                <p class="flex-caption">
                    Get your dream home
                </p>
            </li>
            <li data-thumb="images/slider/2.jpg">
                <img alt="logo" src="@Url.Content("~/Content/img/slider/2.jpg")" class="img-responsive center-block">

            </li>
            <li data-thumb="images/slider/3.jpg">
                <img alt="logo" src="@Url.Content("~/Content/img/slider/3.jpg")" class="img-responsive center-block">

            </li>
            <li data-thumb="images/slider/4.jpg">
                <img alt="logo" src="@Url.Content("~/Content/img/slider/4.jpg")" class="img-responsive center-block">
            </li>
            <li data-thumb="images/slider/5.jpg">
                <img alt="logo" src="@Url.Content("~/Content/img/slider/5.jpg")" class="img-responsive center-block">
            </li>
        </ul>
    </div>
</section>


<section id="calltoaction" class="at-over-layer-black">
    <div class="at-Call-both-side clearfix">
        <div class="at-Call-left">
            <div class="at-inside-Call">
                <h2>@Html.ActionLink("RAFFLE MECHANICS", "RaffleMechanics", "Home", null, new { @class = "white" })</h2>
            </div>
        </div>
        <div class="at-Call-right">
            <div class="at-Call-right-inside white">
                <h2 class="white">HABITAT FOR HUMANITY</h2>
            </div>
        </div>
    </div>
</section>
