@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.title = "Drawlots";
}

<div class="bg-banner bg-banner-50">
    <div class="container">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="padding-100">
                <center>
                    <h2 class="font-white">RAFFLE LOTS RUNNING</h2>
                    <h1 class="font-white">001</h1>
                </center>
            </div>
        </div>
        <div class="col-md-3"></div>


        <br />
    </div>
</div>

<section id="home-properties">
    <div class="container padding-50">
        <div class="row">
            <div class="col-md-12">
                <h4><strong>HOME PROPERTIES</strong></h4>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <img alt="image" src="@Url.Content("~/Content/img/home/img-thumb.png")" class="img-responsive center-block">

                <div class="padding-50 margin-center">
                    <table width="100%">
                        <tr>
                            <td><p>Property type</p></td>
                            <td><p class="pull-right"><strong>Apartment</strong></p></td>
                        </tr>
                        <tr>
                            <td><p>Unit Size</p></td>
                            <td><p class="pull-right"><strong>32 sqm</strong></p></td>
                        </tr>
                        <tr>
                            <td><p>Location</p></td>
                            <td><p class="pull-right"><strong>Makati</strong></p></td>
                        </tr>
                        <tr>
                            <td><p>Price</p></td>
                            <td><p class="pull-right"><strong>1.5 M</strong></p></td>
                        </tr>
                    </table>
                    <br />
                    @Html.ActionLink("VIEW DETAILS", "PropertyDetails", "properties", null, new { @class = "btn btn-lg btn-primary btn-block" })
                </div>
            </div>


            <div class="col-md-3">
                <img alt="image" src="@Url.Content("~/Content/img/home/img-thumb.png")" class="img-responsive center-block">

                <div class="padding-50 margin-center">
                    <table width="100%">
                        <tr>
                            <td><p>Property type</p></td>
                            <td><p class="pull-right"><strong>Apartment</strong></p></td>
                        </tr>
                        <tr>
                            <td><p>Unit Size</p></td>
                            <td><p class="pull-right"><strong>32 sqm</strong></p></td>
                        </tr>
                        <tr>
                            <td><p>Location</p></td>
                            <td><p class="pull-right"><strong>Makati</strong></p></td>
                        </tr>
                        <tr>
                            <td><p>Price</p></td>
                            <td><p class="pull-right"><strong>1.5 M</strong></p></td>
                        </tr>
                    </table>
                    <br />
                    @Html.ActionLink("VIEW DETAILS", "PropertyDetails", "properties", null, new { @class = "btn btn-lg btn-primary btn-block" })
                </div>
            </div>


            <div class="col-md-3">
                <img alt="image" src="@Url.Content("~/Content/img/home/img-thumb.png")" class="img-responsive center-block">

                <div class="padding-50 margin-center">
                    <table width="100%">
                        <tr>
                            <td><p>Property type</p></td>
                            <td><p class="pull-right"><strong>Apartment</strong></p></td>
                        </tr>
                        <tr>
                            <td><p>Unit Size</p></td>
                            <td><p class="pull-right"><strong>32 sqm</strong></p></td>
                        </tr>
                        <tr>
                            <td><p>Location</p></td>
                            <td><p class="pull-right"><strong>Makati</strong></p></td>
                        </tr>
                        <tr>
                            <td><p>Price</p></td>
                            <td><p class="pull-right"><strong>1.5 M</strong></p></td>
                        </tr>
                    </table>
                    <br />
                    @Html.ActionLink("VIEW DETAILS", "PropertyDetails", "properties", null, new { @class = "btn btn-lg btn-primary btn-block" })
                </div>
            </div>

            <div class="col-md-3">
                <img alt="image" src="@Url.Content("~/Content/img/home/img-thumb.png")" class="img-responsive center-block">

                <div class="padding-50 margin-center">
                    <table width="100%">
                        <tr>
                            <td><p>Property type</p></td>
                            <td><p class="pull-right"><strong>Apartment</strong></p></td>
                        </tr>
                        <tr>
                            <td><p>Unit Size</p></td>
                            <td><p class="pull-right"><strong>32 sqm</strong></p></td>
                        </tr>
                        <tr>
                            <td><p>Location</p></td>
                            <td><p class="pull-right"><strong>Makati</strong></p></td>
                        </tr>
                        <tr>
                            <td><p>Price</p></td>
                            <td><p class="pull-right"><strong>1.5 M</strong></p></td>
                        </tr>
                    </table>
                    <br />
                    @Html.ActionLink("VIEW DETAILS", "PropertyDetails", "properties", null, new { @class = "btn btn-lg btn-primary btn-block" })
                </div>
            </div>



        </div>

        <hr />

        <div class="row">
            <div class="col-md-12">
                <h4><strong>CONDOMINIUMS</strong></h4>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <img alt="image" src="@Url.Content("~/Content/img/home/img-thumb.png")" class="img-responsive center-block">

                <div class="padding-50 margin-center">
                    <table width="100%">
                        <tr>
                            <td><p>Property type</p></td>
                            <td><p class="pull-right"><strong>Apartment</strong></p></td>
                        </tr>
                        <tr>
                            <td><p>Unit Size</p></td>
                            <td><p class="pull-right"><strong>32 sqm</strong></p></td>
                        </tr>
                        <tr>
                            <td><p>Location</p></td>
                            <td><p class="pull-right"><strong>Makati</strong></p></td>
                        </tr>
                        <tr>
                            <td><p>Price</p></td>
                            <td><p class="pull-right"><strong>1.5 M</strong></p></td>
                        </tr>
                    </table>
                    <br />
                    @Html.ActionLink("VIEW DETAILS", "PropertyDetails", "properties", null, new { @class = "btn btn-lg btn-primary btn-block" })
                </div>
            </div>


            <div class="col-md-3">
                <img alt="image" src="@Url.Content("~/Content/img/home/img-thumb.png")" class="img-responsive center-block">

                <div class="padding-50 margin-center">
                    <table width="100%">
                        <tr>
                            <td><p>Property type</p></td>
                            <td><p class="pull-right"><strong>Apartment</strong></p></td>
                        </tr>
                        <tr>
                            <td><p>Unit Size</p></td>
                            <td><p class="pull-right"><strong>32 sqm</strong></p></td>
                        </tr>
                        <tr>
                            <td><p>Location</p></td>
                            <td><p class="pull-right"><strong>Makati</strong></p></td>
                        </tr>
                        <tr>
                            <td><p>Price</p></td>
                            <td><p class="pull-right"><strong>1.5 M</strong></p></td>
                        </tr>
                    </table>
                    <br />
                    @Html.ActionLink("VIEW DETAILS", "PropertyDetails", "properties", null, new { @class = "btn btn-lg btn-primary btn-block" })
                </div>
            </div>


            <div class="col-md-3">
                <img alt="image" src="@Url.Content("~/Content/img/home/img-thumb.png")" class="img-responsive center-block">

                <div class="padding-50 margin-center">
                    <table width="100%">
                        <tr>
                            <td><p>Property type</p></td>
                            <td><p class="pull-right"><strong>Apartment</strong></p></td>
                        </tr>
                        <tr>
                            <td><p>Unit Size</p></td>
                            <td><p class="pull-right"><strong>32 sqm</strong></p></td>
                        </tr>
                        <tr>
                            <td><p>Location</p></td>
                            <td><p class="pull-right"><strong>Makati</strong></p></td>
                        </tr>
                        <tr>
                            <td><p>Price</p></td>
                            <td><p class="pull-right"><strong>1.5 M</strong></p></td>
                        </tr>
                    </table>
                    <br />
                    @Html.ActionLink("VIEW DETAILS", "PropertyDetails", "properties", null, new { @class = "btn btn-lg btn-primary btn-block" })
                </div>
            </div>

            <div class="col-md-3">
                <img alt="image" src="@Url.Content("~/Content/img/home/img-thumb.png")" class="img-responsive center-block">

                <div class="padding-50 margin-center">
                    <table width="100%">
                        <tr>
                            <td><p>Property type</p></td>
                            <td><p class="pull-right"><strong>Apartment</strong></p></td>
                        </tr>
                        <tr>
                            <td><p>Unit Size</p></td>
                            <td><p class="pull-right"><strong>32 sqm</strong></p></td>
                        </tr>
                        <tr>
                            <td><p>Location</p></td>
                            <td><p class="pull-right"><strong>Makati</strong></p></td>
                        </tr>
                        <tr>
                            <td><p>Price</p></td>
                            <td><p class="pull-right"><strong>1.5 M</strong></p></td>
                        </tr>
                    </table>
                    <br />
                    @Html.ActionLink("VIEW DETAILS", "PropertyDetails", "properties", null, new { @class = "btn btn-lg btn-primary btn-block" })
                </div>
            </div>



        </div>

        <hr />



        <div class="row">
            <div class="col-md-12">
                <h4><strong>PRE-SELLING</strong></h4>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <img alt="image" src="@Url.Content("~/Content/img/home/img-thumb.png")" class="img-responsive center-block">

                <div class="padding-50 margin-center">
                    <table width="100%">
                        <tr>
                            <td><p>Property type</p></td>
                            <td><p class="pull-right"><strong>Apartment</strong></p></td>
                        </tr>
                        <tr>
                            <td><p>Unit Size</p></td>
                            <td><p class="pull-right"><strong>32 sqm</strong></p></td>
                        </tr>
                        <tr>
                            <td><p>Location</p></td>
                            <td><p class="pull-right"><strong>Makati</strong></p></td>
                        </tr>
                        <tr>
                            <td><p>Price</p></td>
                            <td><p class="pull-right"><strong>1.5 M</strong></p></td>
                        </tr>
                    </table>
                    <br />
                    @Html.ActionLink("VIEW DETAILS", "PropertyDetails", "properties", null, new { @class = "btn btn-lg btn-primary btn-block" })
                </div>
            </div>


            <div class="col-md-3">
                <img alt="image" src="@Url.Content("~/Content/img/home/img-thumb.png")" class="img-responsive center-block">

                <div class="padding-50 margin-center">
                    <table width="100%">
                        <tr>
                            <td><p>Property type</p></td>
                            <td><p class="pull-right"><strong>Apartment</strong></p></td>
                        </tr>
                        <tr>
                            <td><p>Unit Size</p></td>
                            <td><p class="pull-right"><strong>32 sqm</strong></p></td>
                        </tr>
                        <tr>
                            <td><p>Location</p></td>
                            <td><p class="pull-right"><strong>Makati</strong></p></td>
                        </tr>
                        <tr>
                            <td><p>Price</p></td>
                            <td><p class="pull-right"><strong>1.5 M</strong></p></td>
                        </tr>
                    </table>
                    <br />
                    @Html.ActionLink("VIEW DETAILS", "PropertyDetails", "properties", null, new { @class = "btn btn-lg btn-primary btn-block" })
                </div>
            </div>


            <div class="col-md-3">
                <img alt="image" src="@Url.Content("~/Content/img/home/img-thumb.png")" class="img-responsive center-block">

                <div class="padding-50 margin-center">
                    <table width="100%">
                        <tr>
                            <td><p>Property type</p></td>
                            <td><p class="pull-right"><strong>Apartment</strong></p></td>
                        </tr>
                        <tr>
                            <td><p>Unit Size</p></td>
                            <td><p class="pull-right"><strong>32 sqm</strong></p></td>
                        </tr>
                        <tr>
                            <td><p>Location</p></td>
                            <td><p class="pull-right"><strong>Makati</strong></p></td>
                        </tr>
                        <tr>
                            <td><p>Price</p></td>
                            <td><p class="pull-right"><strong>1.5 M</strong></p></td>
                        </tr>
                    </table>
                    <br />
                    @Html.ActionLink("VIEW DETAILS", "PropertyDetails", "properties", null, new { @class = "btn btn-lg btn-primary btn-block" })
                </div>
            </div>

            <div class="col-md-3">
                <img alt="image" src="@Url.Content("~/Content/img/home/img-thumb.png")" class="img-responsive center-block">

                <div class="padding-50 margin-center">
                    <table width="100%">
                        <tr>
                            <td><p>Property type</p></td>
                            <td><p class="pull-right"><strong>Apartment</strong></p></td>
                        </tr>
                        <tr>
                            <td><p>Unit Size</p></td>
                            <td><p class="pull-right"><strong>32 sqm</strong></p></td>
                        </tr>
                        <tr>
                            <td><p>Location</p></td>
                            <td><p class="pull-right"><strong>Makati</strong></p></td>
                        </tr>
                        <tr>
                            <td><p>Price</p></td>
                            <td><p class="pull-right"><strong>1.5 M</strong></p></td>
                        </tr>
                    </table>
                    <br />
                    @Html.ActionLink("VIEW DETAILS", "PropertyDetails", "properties", null, new { @class = "btn btn-lg btn-primary btn-block" })
                </div>
            </div>



        </div>



    </div>
</section>